.space-top {
    padding-top: 70px;
}

#ageField {
    line-height: 20px;
    width: 70px;
    overflow: auto;
}

#errorMessages {
    color: red;
    font-weight: bold;
}

@media only screen and (min-width: 770px) {
    body {
        background-image: url("../images/member_bg.jpg");
        background-repeat: no-repeat;
        background-size: 50% 100vh;
        background-position: right top;
    }
} 

@media only screen and (max-width: 770px) {
    body {
        background-image: url("../images/member_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
} 