body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/fire_bg.jpg");
}

.space-top {
    padding-top: 70px;
}

.fa-pencil-alt {
    font-size: .8em;
}

#teamName {
    font-size: 3rem;
}

#errorMemberMessages, #errorTeamMessages {
    color: #ff0000;
}