body {
    background: linear-gradient(to left, #800000 0%, #000000 100%);
}

.parallaxHeader { 
    /* Full height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paraImg1 {
    background-image: url("../images/IronChef.jpg");
}

.parallaxBody {
    /* Full height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paraImg2 {
    background-image: url("../images/IronChefBattle.jpeg");
}

@media only screen and (max-width: 800px) {
    .parallax {
      background-attachment: scroll;
    }
}

/* WIP for sticky */
#menu_bar.stick {
	position: fixed !important;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1001;
	padding: .5rem 5rem;
	min-height: 6rem;
	height: auto;
	border-bottom: solid 5px #246;
}
#menu_bar.stick div#logo, #menu_bar.stuck div#logo {
	width: 190px;
	min-width: 0;
}

div#menu_bar.stick:after, div#menu_bar.stuck:after {
	opacity: 1;
}

#menu_bar.stick ul#h_navigation, #menu_bar.stuck ul#h_navigation {
	margin-top: 10px;
}

.stick ul#h_navigation a, .stuck ul#h_navigation a {
	font-size: 1.8rem;
}